@font-face {
    font-family: "titulo-cursiva";
    src: url('../recursos/fonts/RussoOne-Regular.ttf');
}

@font-face{
    font-family: "titulo-cursiva-dos";
    src: url('../recursos/fonts/Roboto-Light.ttf');
}