@media screen and (max-width: 1024px) {


    .navbar-brand {
        display: none;

    }





    h1 {
        color: black !important;
        box-shadow: none !important;

    }

    h2 {
        visibility: hidden;
    }

    h3 {

        text-transform: none;
    }


    .rights {
        visibility: hidden;
    }

    .logo-inicio {
        display: flex;
        flex-direction: column;
        margin: 0 !important;

        img {
            width: 100px;
            padding: 0.5rem;
        }

        p {
            display: inline;
            margin: 2rem;
        }
    }



    .img-hsbc {
        display: flex;
        justify-content: center;
        margin: auto;
        padding: auto;
        margin: 2rem;




    }

    .container {
        display: grid;
        grid-template-columns: 1fr !important;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr !important;
        grid-auto-columns: 1fr !important;
        gap: 0px 0px !important;
        grid-auto-flow: row !important;
        grid-template-areas:
            "imagen-cotizaciones"
            "p-cotizaciones"
            "imagen-servicio"
            "p-servicio"
            "imagen-mante"
            "p-mante" !important;

        .imagen-cotizaciones {
            grid-area: imagen-cotizaciones;

            img {
                width: 100% !important;
            }
        }

        .p-cotizaciones {
            grid-area: p-cotizaciones;
        }

        .imagen-servicio {
            grid-area: imagen-servicio;

            img {
                width: 100% !important;
            }
        }

        .p-servicio {
            grid-area: p-servicio;
        }

        .imagen-mante {
            grid-area: imagen-mante;

            img {
                width: 100% !important;
            }
        }

        .p-mante {
            grid-area: p-mante;
        }

    }


    .credito {   display: flex;
        flex-direction: column;
        align-items: center;
    
        img {
            width: 150px;
        }
    
        p {
            text-align: center;
            margin: 1rem;
        }
    
        .boton-credito {
            .btn {
                width: 150px !important;
            }
        }




    }









    /*Nuevos*/


    .onix {
        display: flex;
        flex-direction: column;

        li {
            text-decoration: none;
            list-style: none;

            img {
                width: 50px !important;

            }

        }

    }


    .onix-imagen {
        display: flex;
        margin: 2rem;
        flex-direction: column-reverse;
        align-items: center;
        max-width: 500px !important;

        img {
            width: 200px !important;
            height: auto;
            margin: 2rem !important;
        }


    }



    h6 {
        margin: 2rem;
    }

    /*Usados*/
    .padre-usados-container {
        .usados-container {
            display: grid;
            grid-template-columns: 1fr !important;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr !important;
            grid-auto-columns: 1fr !important;
            grid-auto-rows: 1fr !important;
            gap: 0px 0px !important;
            grid-auto-flow: row !important;
            grid-template-areas:
                "usados-uno"
                "usados-dos"
                "usados-tres"
                "usados-cuatro"
                "usados-cinco"
                "usados-seis"
                "usados-siete"
                "usados-ocho"
                "usados-nueve" !important;

            .usados-uno {
                grid-area: usados-uno;

                img {
                    width: 200px !important;
                }

            }

            .usados-dos {
                grid-area: usados-dos;

                img {
                    width: 200px !important;
                }

            }

            .usados-tres {
                grid-area: usados-tres;

                img {
                    width: 200px !important;
                }

            }

            .usados-cuatro {
                grid-area: usados-cuatro;

                img {
                    width: 200px !important;
                }

            }

            .usados-cinco {
                grid-area: usados-cinco;

                img {
                    width: 200px !important;
                }

            }

            .usados-seis {
                grid-area: usados-seis;

                img {
                    width: 200px !important;
                }

            }

            .usados-siete {
                grid-area: usados-siete;

                img {
                    width: 200px !important;
                }

            }

            .usados-ocho {
                grid-area: usados-ocho;

                img {
                    width: 200px !important;
                }

            }

            .usados-nueve {
                grid-area: usados-nueve;

                img {
                    width: 200px !important;
                }

            }

            .btn {
                width: 100px !important;
            }
        }
    }





















    /* Contacto*/
    .mapa {
        display: flex;
        justify-content: center;

        iframe {
            margin: 5px;
            width: 200px;
        }
    }





    .btn {
        width: 75px;
    }

    /*La Empresa*/

    .padre-empresa {

        .container-empresa {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr !important;
            grid-template-rows: 1fr 1fr 1fr 1fr !important;
            gap: 0px 0px !important;
            grid-auto-flow: row !important;
            grid-template-areas:
                ". imagen-empresa ."
                ". texto-empresa ."
                ". imagen-uno-empresa ."
                ". texto-uno-empresa ." !important;
            align-items: center !important;

            .imagen-empresa {
                grid-area: imagen-empresa;

                img {
                    width: 300px !important;
                    margin: 5px !important;

                }
            }

            .texto-empresa {
                grid-area: texto-empresa;
                margin-left: 0;
            }

            .imagen-uno-empresa {
                grid-area: imagen-uno-empresa;

                img {
                    width: 300px !important;
                    margin: 5px !important;
                
                }

            }

            .texto-uno-empresa {
                grid-area: texto-uno-empresa;
                margin-right: 0;
            }

        }
    }

    /*FOOTER*/
    .menu-footer {
        display: flex !important;
        flex-wrap: wrap !important;
     justify-content: flex-start !important;

        .vr {
            visibility: hidden !important;
        }

    }
}