
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&family=Open+Sans:wght@300&family=Roboto:wght@300;700&display=swap');

$roboto-sans-serif: 'Roboto', sans-serif;



@font-face {
    font-family: "titulo-cursiva";
    src: url('../recursos/fonts/RussoOne-Regular.ttf');
}

@font-face{
    font-family: "titulo-cursiva-dos";
    src: url('../recursos/fonts/Roboto-Light.ttf');
}