
.formulario{ 
    padding: 2rem;
.form-floating {
    width: 300px;
    margin: 10px;

}}

.mapa {
    display: flex;
    justify-content: center;

    iframe {
        margin: 5px;
    }

}





.btn {

    margin: 10px;
}



